.arr {
  padding: 20px 120px;
  width: auto;
}

.arr > h2 {
  font-size: 2rem;
  border-radius: 10px;
  padding: 4px 8px;
  color: #f5f5f5b2;
  background-color: #ab987a44;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.096);
  backdrop-filter: blur(3px);
}

.listafav {
  padding: 5px;
  border-radius: 10px;
  color: #f5f5f5b2;
  background-color: #ab987a44;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.096);
  backdrop-filter: blur(3px);
}

.listafav button {
  margin-left: 10px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 4px;
}

.listafav button:hover {
  background-color: #352d2d7a;
  color: white;
  cursor: pointer;
  border: 1px solid #352d2d7a;
}

.listafav {
  padding: 5px;
}

.listafav a {
  padding: 5px;
  color: #f5f5f5b2;
  font-size: 1.5rem;
}

.listafav a:hover {
  color: #685858;
}

.pelifavorita {
  padding: 10px 5px;
}

/* --- Media Queries --- */

@media (max-width: 768px) {
  .arr {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .listafav a {
    font-size: 1.2rem;
    padding: 2px;
  }
  .arr {
    padding-top: 5px;
  }
  .arr > h2 {
    text-align: center;
    font-size: 1.5rem;
  }
}
