.navbar {
  height: 56px;
  width: auto;
  top: 0;
  left: 0;
  background-color: #141111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ab987a;
}

img {
  display: block;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
}

h1 {
  padding-left: 10px;
  color: #ab987a;
}

h1:hover {
  color: #fde3b8;
}

.navbar nav {
  height: 100%;
}

.list1,
.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
}

.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}

.list-item a {
  color: #ab987a;
  height: 100%;
  margin-top: 20px 0px;
  padding: 20px 10px 0px 10px;
  /* border-bottom: 4px solid transparent; */
  text-decoration: none;
}

.list-item a:hover {
  background-color: #ab987a38;
  color: #f5f5f5;
  border-radius: 20%;
}

.list-item a.active {
  background-color: #534a3b;
  color: #f5f5f5b2;
  border-radius: 20%;
  border: 0.5px solid #352d2d4d;
}

/* --- Media Queries --- */

@media (max-width: 576px) {
  h1 {
    padding-left: 5px;
    font-size: 2rem;
  }

  .list-item a {
    margin: 20px 0px;
    padding: 20px 5px 0px 5px;
    font-size: 1rem;
  }

  .navbar {
    width: 100%;
    padding: 0 0 0 5px;
  }

  .navbar nav {
    height: 100%;
  }
}
